@media screen and (max-width: 991px) {
  section.sec_one {
    height: 565px !important;
    top: 0px !important;
  }
}

@media screen and (max-width: 764px) {
  section.sec_one {
    height: 538px !important;
  }
  .task-1 {
    margin-top: 0.8rem !important;
  }
}

@media screen and (max-width: 575px) {
  .task-1 form input {
    font-size: var(--font-12) !important;
  }

  section.sec_one {
    height: 535px !important;
    top: 0px !important;
  }
  

}

@media screen and (max-width: 475px) {
  .loginform {
    width: 337px;
}
}
@media screen and (max-width: 375px) {
 .dontnew{
  display: flex !important;
  flex-direction: column !important;
 }
 .dotnew-p{
  display: flex !important;
  flex-direction: column !important;
 }
  .Trust {
    font-size: var(--font-30) !important;
    font-weight: var(--font-weight-800);
    background: var(--gradient-btn);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

@media(max-width:398px){
  .loginform {
    width: 274px;
}
}
@media(max-width:330px){
  .loginform {
    width: 260px !important;
}
}